@charset "UTF-8";
table {
            width: 100%; /* Define a largura da tabela como 100% da largura da tela */
            border-collapse: collapse; /* Mescla as bordas das células */
        }
        th, td {
            border: 1px solid black; /* Define uma borda de 1 pixel para as células */
            padding: 8px; /* Adiciona espaço interno às células */
            text-align: left; /* Alinha o texto à esquerda nas células */
        }
        th {
            background-color: #f2f2f2; /* Define uma cor de fundo para as células do cabeçalho */
        }

h1{
    padding: 10px;
    font-size:50px;
    text-shadow: 5px 5px #90c1f3;
    text-align:center;
    border-radius: 40px;
}
h3#principal {
    padding-left: 30px; /* Adiciona um espaço à esquerda */
    font-size: 18px;
    color: blue;
}

ul{
    background: black;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: inline-block;
    color: white;
    padding: 20px;
    padding-right: 20px;
    padding-left: 30px;
    text-decoration: none;
    text-align: center;

 }

li a:hover, .dropdown:hover .dropbtn{
    background: blue;
}

.container img{
    float: left;
  }

  img {
    width: 100px;
    padding-top: 10px;
    padding-left: 100px;
    }

  .acoes-column {
        text-align: center;

    }






/* Rodapé fixo */
footer {
    background-color: #000000; /* Cor de fundo do rodapé (preto) */
    text-align: center; /* Centraliza o conteúdo do rodapé */
    padding: 10px 0; /* Espaçamento interno do conteúdo do rodapé */
    position: fixed; /* Fixa o rodapé na parte inferior da janela */
    bottom: 0; /* Alinha o rodapé no fundo */
    width: 100%; /* Largura total */
}

/* Estilos específicos para o texto dentro do rodapé */
footer span {
    color: #ffffff; /* Cor do texto do rodapé (branco) */
    font-size: 14px; /* Tamanho da fonte */
}

/* Fim do arquivo CSS */

