<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Usuario Sistema</title>
</head>
<body>
    <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <h1>Cadastro de Usuário</h1>
            <br><br>
            <input type="text" name="username" placeholder="username" class="form-control"><br><br>
            <input type="text" name="password" placeholder="password" class="form-control"><br><br>
            <input type="submit" value="Cadastrar">
        </div>

    </form>
</body>
</html>