{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} SEVERUS - Tecnologia {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
{% block menu %}
    <br>
    <header>
        <div class="container-fluid text-center">
            <div class="content">
                <nav>
                    <ul>
                        <li class="padding-top">
                            <a class="btn btn-outline-primary white-text" type="button" href="#" name="adicionar" data-bs-toggle="modal" data-bs-target="#adicionarModal">Adicionar</a>
                            <a class="btn btn-outline-primary white-text" type="button" href="#" name="controle" data-bs-toggle="modal" data-bs-target="#controleModal">Controles</a>
                            <a class="btn btn-outline-primary white-text" type="button" href="#" name="agendamentos" data-bs-toggle="modal" data-bs-target="#agendamentosModal">Agendamentos</a>
                            <a class="btn btn-outline-primary white-text" type="button" href="#" name="servicos" data-bs-toggle="modal" data-bs-target="#servicosModal">Serviços</a>
                            <a class="btn btn-outline-primary white-text" type="button" href="#" name="solicitacoes" data-bs-toggle="modal" data-bs-target="#solicitacoesModal">Solicitações</a>
                            <a class="btn btn-outline-primary white-text" type="button" href="#" name="ocorrencias" data-bs-toggle="modal" data-bs-target="#ocorrenciasModal">Ocorrências</a>
                            <a class="btn btn-outline-primary white-text" type="button" href="#" name="telefones" data-bs-toggle="modal" data-bs-target="#telefonesModal">Telefones</a>
                            <a class="btn btn-outline-primary white-text" type="button" href="#" name="informacoes" data-bs-toggle="modal" data-bs-target="#informacoesModal">Informações</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="container text-center mt-4">

        <div class="title-container">
            <div class="col-0">
                <img id=img src="{% static 'img/icon.png' %}" alt="Icon">
            </div>

                <h1 style="color: #19197a; text-shadow: 5px 5px #90c1f3;"><b>SEVERUS</b> - Técnologia</h1>
        </div>
    </div>
{% endblock %}
<body>
    {% block conteudo %}

    {% endblock %}

    {% block footer %}

        <footer class="bg-dark text-white text-center text-lg-start fixed-bottom" style="border-top: 1px solid black;">
            <div class="container text-center">
                <span>&copy; 2024 Tattica Técnologia. Todos os direitos reservados. || Powered_by: @NDI</span>
            </div>
        </footer>

    {% endblock %}

<!-- Modal -->
<div class="modal fade" id="adicionarModal" tabindex="-1" role="dialog" aria-labelledby="adicionarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> <!-- Aqui está usando modal-xl para um modal extra grande -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="adicionarModalLabel">Adicionar</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <style>
                .custom-btn-group .btn {
                    margin-right: 15px; /* Ajusta o espaço entre os botões */
                }
                    .custom-btn-group {
                    text-align: center; /* Centraliza os botões horizontalmente */
                }
            </style>

            <div class="modal-body">
                <h5>Escolha uma das opções abaixo:</h5><br>

                <div class="custom-btn-group">
                    <button class="btn btn-primary" type="button">Condomínios</button>
                    <button class="btn btn-primary" type="button">Apartamentos</button>
                    <button class="btn btn-primary" type="button">Pessoas</button>
                    <button class="btn btn-primary" type="button">Veículos</button>
                    <button class="btn btn-primary" type="button">Contato Emerg.</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>


            <!-- Modal -->
    <div class="modal fade" id="controleModal" tabindex="-1" role="dialog" aria-labelledby="controleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="controleModalLabel">Controles</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <style>
                .custom-btn-group .btn {
                    margin-right: 15px; /* Ajusta o espaço entre os botões */
                }
                    .custom-btn-group {
                    text-align: center; /* Centraliza os botões horizontalmente */
                }
            </style>

            <div class="modal-body">
                <h5>Escolha uma das opções abaixo:</h5><br>

                <div class="custom-btn-group">
                    <button class="btn btn-primary" type="button">Permissão Acesso</button>
                    <button class="btn btn-primary" type="button">Liberação Acesso</button>
                    <button class="btn btn-primary" type="button">recado</button>
                    <br>
                    <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- Modal -->
    <div class="modal fade" id="agendamentosModal" tabindex="-1" role="dialog" aria-labelledby="agendamentosModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title" id="agendamentosModalLabel">Agendamentos</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Escolha uma das opções abaixo:</h5><br>
                <div class="custom-btn-group">
                    <button class="btn btn-primary" type="button">Agendamentos</button>
                    <button class="btn btn-primary" type="button">Área de Reserva</button>
                    <button class="btn btn-primary" type="button">Área Paralelas</button>
                    <button class="btn btn-primary" type="button">Horários Agendamento</button>
                    <button class="btn btn-primary" type="button">Feriados</button>
                    <br>
                    <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- Modal -->
    <div class="modal fade" id="servicosModal" tabindex="-1" role="dialog" aria-labelledby="servicosModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="servicosModalLabel">Serviços</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Escolha uma das opções abaixo:</h5><br>
                    <div class="custom-btn-group">
                        <button class="btn btn-primary" type="button">Sindicos</button>
                        <button class="btn btn-primary" type="button">Funcionários Condomínio</button>
                        <button class="btn btn-primary" type="button">Empresas</button>
                        <button class="btn btn-primary" type="button">Prestadores</button>
                        <button class="btn btn-primary" type="button">Serviços Empresas</button>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- Modal -->
    <div class="modal fade" id="solicitacoesModal" tabindex="-1" role="dialog" aria-labelledby="solicitacoesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="solicitacoesModalLabel">Solicitações</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Escolha uma das opções abaixo:</h5><br>
                    <div class="custom-btn-group">
                        <button class="btn btn-primary" type="button">Controles de Acessos</button>
                        <button class="btn btn-primary" type="button">Solicitação Imagens</button>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- Modal -->
    <div class="modal fade" id="ocorrenciasModal" tabindex="-1" role="dialog" aria-labelledby="ocorrenciasModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ocorrenciasModalLabel">Ocorrências</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Escolha uma das opções abaixo:</h5><br>
                    <div class="custom-btn-group">
                        <button class="btn btn-primary" type="button">Ocorrências</button>
                        <button class="btn btn-primary" type="button">Atividades</button>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- Modal -->
    <div class="modal fade" id="telefonesModal" tabindex="-1" role="dialog" aria-labelledby="telefonesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="telefonesModalLabel">Telefones</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Escolha uma das opções abaixo:</h5><br>
                    <div class="custom-btn-group">
                        <button class="btn btn-primary" type="button">Tattica Telefones</button>
                        <button class="btn btn-primary" type="button">Sub Ramais</button>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    <!-- Modal -->
    <div class="modal fade" id="informacoesModal" tabindex="-1" role="dialog" aria-labelledby="informacoesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="informacoesModalLabel">Informações</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Escolha uma das opções abaixo:</h5><br>
                    <div class="custom-btn-group">
                        <button class="btn btn-primary" type="button">Buscar Permissões</button>
                        <button class="btn btn-primary" type="button">Aniversariantes</button>
                        <button class="btn btn-primary" type="button">Tipos Ocorrências</button>
                        <button class="btn btn-primary" type="button">Tipos Funcionarios</button>
                        <button class="btn btn-primary" type="button">Departamentos</button>
                        <button class="btn btn-primary" type="button">Colaboradores</button>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'js/scripts.js' %}"
    {% endblock %}

</body>
</html>