{% extends 'base.html' %}

{% load static %}

{% block menu %}{% endblock %}

{% block img %}{% endblock %}

{% block titulofixo %}
    <h1>Condomínios</h1>
{% endblock %}

{% block conteudo %}
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ramal</th>
                <th scope="col">Condomínio</th>
                <th scope="col">Telefone</th>
                <th scope="col">Cidade</th>
                <th scope="col">Unidade</th>
                <th scope="col">Bairro</th>
            </tr>
        </thead>
        <tbody>
            {% for condominio in condominios %}
                <tr>
                    <td>{{ condominio.ramal_condominio }}</td>
                    <td>{{ condominio.nome_condominio }}</td>
                    <td>{{ condominio.telefone }}</td>
                    <td>{{ condominio.cidade }}</td>
                    <td>{{ condominio.unidade.nome_unidade }}</td>
                    <td>{{ condominio.bairro }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}
