{% extends 'base.html' %}
{% load static %}


{% block conteudo %}
  <br>
  <div class="form-group">
    <label for="searchbar" style="margin-left: 20px;"><b>Buscar condomínio:</b></label>
    <input type="text" class="form" placeholder="Buscar condomínio..." id="searchbar" style="margin-left: 20px;"
           onkeyup="search()" name="searchbar">
  </div>
  <br>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Ramal</th>
      <th scope="col">Condomínio</th>
      <th scope="col">Telefone</th>
      <th scope="col">Cidade</th>
      <th scope="col">Unidade</th>
      <th scope="col">Bairro</th>
      <th scope="col">Ação</th>
    </tr>
    </thead>
  </table>

  <br>
  <div class="table-container" style="height: 800px; overflow-y: auto;">
    <table class="table table-striped">
      <tbody>
      {% for condominio in condominios %}
      <tr data-condominio-id="{{ condominio.id }}">
        <td>{{ condominio.ramal_condominio }}</td>
        <td>{{ condominio.nome_condominio }}</td>
        <td>{{ condominio.telefone }}</td>
        <td>{{ condominio.cidade }}</td>
        <td>{{ condominio.unidade.nome_unidade }}</td>
        <td>{{ condominio.bairro }}</td>
        <td class="acoes-column">
          <!-- Botão para editar -->
          <a href="{% url 'editar_condominio' condominio.id %}" class="btn btn-primary">
            <i class="fas fa-edit"></i>
          </a>
          <!-- Botão para visualizar -->
          <a href="{% url 'consultar_condominio' condominio.id %}" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </a>
          <!-- Botão para excluir -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal{{ condominio.id }}">
            <i class="fas fa-trash fa-sm"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <br>

  <script>
    function search() {
      let input = document.getElementById('searchbar').value.toLowerCase();
      let rows = document.querySelectorAll('.table-container tbody tr');

      rows.forEach(row => {
        let condominioNome = row.querySelector('td:nth-child(2)').textContent.toLowerCase();

        if (condominioNome.includes(input)) {
          row.style.display = "";
        } else {
          row.style.display = "none";
        }
      });
    }
  </script>

{% endblock %}
